body
{
  background-color: black;
margin: 0;
text-align: center;
font-family: "Raleway", serif;
}

.middle-container
{
background-color:  black;
color: #FFE6BC;
margin-bottom: 50px;
}

.text_left
{
  background-color:  black;
  color: #FFE6BC;
  text-align: left;
  margin: 50px;
}

hr
{

border: 3px solide;
border-style: none none solid;
color: #333333;
  width: 60%;
  margin-top: 100px;
  margin-bottom: 100px;
}

p
{
  font-size: 150%;
}

h1
{
  font-size: 500%;
width: 40%;
font-family: "Pushster", cursive;
margin: 0 auto 0 auto;
padding-bottom: 5px;
}


th
{
    padding: 20px 30px 20px 30px;

}

h2
{
  font-size: 250%;
font-family: "Raleway", serif;
color: #FFBD35;
 font-weight: normal;
}
h3
{
  font-size: 200%;
font-family: "Raleway", serif;
color: #FFBD35;
}

.intro
{
    background-color: #B3541E;
  margin: 0;
  align-content: center;
}



.contact-me
{
  margin-bottom: 30px;
    color: #FFE6BC;
}


.one_hundred_px_img_size
{
  height: 25%;
  width: 25%;
  padding-left: 20px;
  padding-right: 20px;
}

.agent_intro
{
width: 30%;
margin-left: auto;
  margin-right: auto;

}


.blackText
{
  font-size: 35px;
 align-content: center;
  color: black;
  padding-left: 30px;
  padding-right: 30px;
}

a.normal:link {
  color: #F49D1A;
}
a.normal:visited {
  color: #FFE15D;
}
a.normal:hover
{
  color: white;
}

a.header_link:link {
  color: Black;
  text-decoration: none;
}
a.header_link:visited {
  color: Black;
  text-decoration: none;
}
a.header_link:hover
{
  color: white;
  text-decoration: none;
}

.profile_pic_size
{
  height: 200px;
  width: 200px;
  margin-left: 30px;
  margin-right: 30px;
}

.other_title
{
  color: Black;
}

.one_three
{
  padding-left: 60%;
  padding-right: 10%;
text-align: right;
  margin: 100px auto 100px auto;
  line-height: 2;
  text-align: center;
}

.two_four
{
text-align: left;
padding-left: 10%;
padding-right: 60%;
  line-height: 2;
    margin: 100px auto 100px auto;
      text-align: center;
}

.header
{
padding-top: 7px;
padding-bottom: 7px;
  background-color: #787A91;
  font-size: 25px;
  width: 100%;
  position: fixed;
  opacity: .8;
  text-align: right;
}

.logo
{
 padding: 10px;
  float: left;
}


.btn {
  background: #ffd900;
  background-image: -webkit-linear-gradient(top, #ffd900, #c4a300);
  background-image: -moz-linear-gradient(top, #ffd900, #c4a300);
  background-image: -ms-linear-gradient(top, #ffd900, #c4a300);
  background-image: -o-linear-gradient(top, #ffd900, #c4a300);
  background-image: linear-gradient(to bottom, #ffd900, #c4a300);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #000000;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #d4b400;
  background-image: -webkit-linear-gradient(top, #d4b400, #c48600);
  background-image: -moz-linear-gradient(top, #d4b400, #c48600);
  background-image: -ms-linear-gradient(top, #d4b400, #c48600);
  background-image: -o-linear-gradient(top, #d4b400, #c48600);
  background-image: linear-gradient(to bottom, #d4b400, #c48600);
  text-decoration: none;
}

.bottom-container
{
  text-align: center;
background-color: #b3541e;
padding-bottom: 20px;
padding-top: 30px;

}
.footer-link
{
  font-size: 100%;
}
table.center {
  margin-left: auto;
  margin-right: auto;
  width: 10%
}

.portfolio_image
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  border: 5px solid #555;
}

.search_typing_bar
{
  border: 3px solid #434343;
  border-right: none;
  width: 15%;
  border-radius: 5px 0 0 5px;
  height: 30px;
  padding-left: 10px;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 20px;
  color: black;

}

.search_button
{
  float: right;
  width: 80px;
  height: 38px;
  font-size: 20px;
  border: 1px solid #434343;
  background: #434343;
  text-align: center;
  color: #fff;
  margin-right: 15px;
  cursor: pointer;

}

.search_button:hover
{
background: #c3c3c3;
}
